<footer>
    <div class="h-32 bg-neutral-900">
        <div class="text-white text-center pt-9">
            <p> &copy; 2022 || Mmr creation ltd</p>
            <p>All Rights Reserved</p>
        </div>

    </div>
</footer>


</body>
</html>